
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC&display=swap');

.card {
  margin: 10px;
  width: 18rem;
  overflow: hidden;
  box-shadow: 2px 4px 9px 2px grey;

  .card-header{

  }

  .card-text{
    font-family: "Comic Sans MS";
    margin-left: 5px;


  }

  .userId{
    text-align: left;
  }

  .cardDate{
    text-align: right;
  }

  .userImage{
    overflow: hidden;
    align-items: center;
    height: 210px;
    transition-duration: 0.1s;
    width:100%;

    :hover{
      transform:scale(1.5);
    }

    img {
      align-items: center;
      overflow: hidden;
      border-radius: 3px;
      width: 130%;
      bottom: 0px;

    }


  }

  .card-body{
    font-family: "Comic Sans MS";
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 15pxs;

    .like{
      text-align: right;
    }

    .heart:hover{
      color:red;
    }
  }

  .card-title{
    text-align: left;
  }

  .card-footer{
    background-color:initial;
    width: 100%;
  }

  }

  //.footer{
  //  display: flex;
  //  flex-wrap: wrap;
  //
  //  h5{
  //    font-family: "Comic Sans MS";
  //    text-align: left
  //  }
  //
  //  p{
  //    text-align: right;
  //  }
  //
  //  .tags{
  //    display: flex;
  //    flex-wrap: wrap;
  //    justify-content: center;
  //  }
  //
  //  .card-footer{
  //    width: 100%;
  //  }
  //
  //}







.postView{
  //border: 1px solid black;

}