
.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  //text-align: center;
  width: 33%;
  overflow: hidden;
  height: fit-content;
  //box-shadow: 0px 4px 8 px 0px ;

  .header{
    display: flex;
    justify-content: space-evenly;

  }

  .main{
    height: 25%;



    img {
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
      border-radius: 3px;
      box-sizing: border-box;
      //width: 100%;
      //vertical-align: middle;
      ////height: 200px;
    }

  }
  .footer{
    display: flex;
    flex-wrap: wrap;

    h5{
      font-family: "Comic Sans MS";
      text-align: left
    }

    p{
      text-align: right;
    }

    .tags{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

  }





}

.postView{
  //border: 1px solid black;

}