
.tag{
  display: inline-flex;
  padding: 5px;



  a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: #eeeeee;
    box-shadow: 2px 4px 9px 2px grey ;

      }
}