.form-box{
  //border: 1px solid blue;
  width: fit-content ;
}

.form-group{
  color: blue;


}

.form-control{
  background-color: #bfbec342;
  border-color: blue;
  box-shadow: 2px 2px 0px 1px grey inset;
  width: fit-content;
}

.btn .btn-primary{
  box-shadow: 2px 4px 9px 2px grey;

}